.App {
  text-align: center;
  display: inline-block;
  border: 2px solid Black;
  border-radius: 10px;
margin-top: 10%;
 margin-left: 40%;
 background-color: brown;
}
#to-do-list{
  color: rgb(152, 32, 231);

}
body{
  background-image: url(./image/todolist.jpg);
  /* border: 20px solid red; */
}

