body{
  background-image:url('./image/todolist.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}


.App {
  text-align: center;
  display: inline-block;
  border: 2px solid Black;
  border-radius: 10px;
margin-top: 10%;
 margin-left: 40%;
 background-color: rgb(6, 5, 5);
}
#to-do-list{
  color: rgb(152, 32, 231);

}

